<!-- Footer
=================================-->
<div id="footer">
  <!--p class="alert"><%= alert %></p-->
  <div class="container">
    <div class="pull-right">
      &copy;MarcHellmuth
    </div>
  </div>
</div>
<!-- /Footer
=================================-->
