<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="pull-left">
                    <button class="btn btn primary fb-share-btn"><%= t'.share_on_fb' %> <%= icon 'facebook'%></button>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    &copy;MarcHellmuth
                </div>
            </div>
        </div>
    </div>
</div>
