
<div class="row text-center">
  <div class="col col-lg-12 col-sm-12">
    <h1 class="">MapMerge</h1>
    <p>Create simple and easy large google-maps images.</p>
    <%= link_to(  locations_path , :class => "btn btn-success btn-lg" ) do  %>
      <span class="glyphicon glyphicon-map"></span> Start Here
    <% end %>
  </div>
</div>
