<%= stylesheet_link_tag "welcome"%>
<div class="jumbotron">
  <div class="row text-center">
    <div class="col col-lg-12 col-sm-12">
      <h1 class="">MapMerge</h1>
      <p>Create simple and easy large google-maps images.</p>
      <%= link_to(  locations_path , :class => "btn btn-success btn-lg" ) do  %>
        <span class="glyphicon glyphicon-map"></span> Start Here
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-4 col-md-offset-4">
    <p>This Application is just a little project to learn new skills in Programming with Ruby on Rails.</p>
  </div>
</div>
