@import "font-awesome-sprockets";
@import "font-awesome";
@import "frontend/frontend";
@import "locations";
@import "welcome";
//Setup
* {
    -webkit-box-sizing: boreder-box;
    -moz-box-sizing: boreder-box;
    box-sizing: boreder-box;
}
/* Sticky footer styles
  -------------------------------------------------- */
body,
html {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}
/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by its height */
    margin: 0 auto -60px;
    /* Pad bottom by footer height */
    padding: 0 0 60px;
}
/* Set the fixed height of the footer here */
#footer {
    height: 80px;
    background-color: #f5f5f5;
    display: block;
    padding-top: 30px;
}
/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
/* Custon styles */


[data-notify="progressbar"] {
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 5px;
}
