
.jumbotron{
    background-color: transparent;
    height: 70vh;
    &::after {
      content: "";
      background-image:  url("../images/world_map.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }
}
.definitions{
    background: #6aad56;
    padding: 50px 0;
    .panel{
        height:150px;
    }
}
