<div class="container">
    <br />
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h2>Editing Location</h2>
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
</div>
