<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Create a new loction simple and easy!</h3>
  </div>
  <div class="panel-body">
      <p>Just choose a location by editing the adress field. Type in a postcode or the name of the city you like to merge.</p>
      <%= render 'form' %>
  </div>
</div>
