<div class="container">
    <br />
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <p>Just choose a location by editing the adress field. Type in a postcode or the name of the city you like to merge.</p>
                    <%= render 'form' %>
                </div>
            </div>
        </div>
    </div>
</div>
